<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShowAll</title>
</head>
<body>
<div>
<!-- indentation is not required here -->
    <h2>All content</h2>
    {% for data in dummyData: %}
        <h2>{{data["title"]}}</h2>
        <p>{{data["body"]}}</p>
    <hr>
    {% endfor %}
</div>
</body>
</html>