<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Working</title>
</head>
<body>
<h1>its working</h1>
<form action="/login" method="post">
    <label for="name" >Name</label>
    <input type="text" name="user" id="name" placeholder="name">
    <br>
    <label for="passwd">Password</label>
    <input type="text" name="pass" id="passwd" placeholder="password">
    <br>
    <input type="submit" value="ok">
</form>
</body>
</html>