<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo Sharath</title>
</head>
<body>
    <h2>Hi i am sharathchandra</h2>
    <h3>{{ 5*6}}</h3>
    <h4>{{userList}}</h4>

</body>
<footer>
    <section>
        <p>
            this is reserved. copyright {{userList[0]}}
        </p>
    </section>
</footer>
</html>